.contactIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #586F7C;
    padding-bottom: 24px;
}

.icon {
    font-size: 24px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 30px;
    padding: 8px;
}

 
.icon:hover {
    cursor: pointer;
    background-color: #F9FBB2;
}