@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  z-index: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #b9d6f2;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.name {
  color: #f9fbb2;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  font-family: "Major Mono Display", monospace;
  font-size: calc(2vw + 1.5rem); /* Ajustement dynamique avec une taille minimale */
  color: #b9d6f2;
  gap: 40px;
}

.subText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Major Mono Display", monospace;
  font-size: 1rem;
  gap: 1rem;
}

.links {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto Mono", monospace;
  border: 1px solid;
  border-radius: 5rem;
}

.links:hover {
  cursor: pointer;
  background-color: #f9fbb2;
}
