
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  gap: 1rem;
}

.separateur {
  background-color: #b9d6f2;
  width: 90%;
  height: 1px;
}

.entete {
  display: flex;
  align-self: center;
  font-family: 'Major Mono Display', monospace;
    /* repush */
  font-size: 3rem;
  color: #f9fbb2;
  padding-top: 5rem;
  padding-inline: 1rem;
}

.liste {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: 2rem;
  overflow: auto;
}
